# Byte-compiled Python files
__pycache__/
*.pyc
db.sqlite3
db*
firebase_cred.json

# Python log files
*.log
db.sqlite3

# Environment settings
.env
# Virtual environment
venv/
.env/
.vscode/
.idea/
.pytest_cache/

# Database

# Media and static files
media/

# Secret keys and sensitive information (modify as needed)
*.secret_key
*.settings

# Ignore migrations for the "blog" app
*/*/migrations/

# Ignore migrations for the "users" app
*/*/migrations/

# Site-specific settings
*.sitetree

# Compiled translations
locale/
*.mo

# Dependency directories
node_modules/
bower_components/

# Compiled source files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Backup files
*~

# Local development files
*.db
*.sql


# Visual Studio Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Python environment configuration
pyvenv.cfg

# macOS Finder metadata
.DS_Store
env
# Windows Thumbs.db
Thumbs.db

# User-specific settings
*.swp
*.swo